 <div class="navbar-area fixed-top" style="z-index: 999999 !important;">

    <div class="main-nav">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <a routerLink="/" (click)="onResetData()" class="navbar-brand"><img src="assets/img/logo.png" alt="Logo"></a>
                <button (click)="menu()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a routerLink="/" (click)="onResetData()" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">ホームページ</a>
                        </li>

                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link dropdown-toggle">ジョブ<i class="icofont-simple-down"></i></a>

                            <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/job-list" (click)="onResetData()"  class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">作業リスト</a></li>
                                <li class="nav-item"><a routerLink="/post-a-job" (click)="onResetData()" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngIf="isLogin$ | async">求人を投稿する</a></li>
                            </ul>
                        </li>

                        <li class="nav-item" *ngIf="isLogin$ | async">
                            <a href="javascript:void(0)" class="nav-link dropdown-toggle">候補者<i class="icofont-simple-down"></i></a>

                            <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/candidate-list" (click)="onResetData()" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">候補者リスト</a></li>
                            </ul>
                        </li>
                    </ul>

                    <div class="common-btn">
                        <a class="login-btn" routerLink="/login" *ngIf="!(isLogin$ | async)"><i class="icofont-login"></i>雇用者</a>
                        <a class="sign-up-btn" style="cursor: pointer" (click)="logout()" *ngIf="isLogin$ | async"><i class="icofont-logout"></i>ログアウト</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>

     <div class="mobile-nav" *ngIf="menuAppear">
         <a routerLink="/" (click)="onResetData()" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">ホームページ</a>
         <a routerLink="/job-list" (click)="onResetData()"  class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">作業リスト</a>
         <a routerLink="/post-a-job" (click)="onResetData()" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngIf="isLogin$ | async">求人を投稿する</a>
         <a routerLink="/candidate-list" (click)="onResetData()" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">候補者リスト</a>
         <a class="login-btn" routerLink="/login" *ngIf="!(isLogin$ | async)" (click)="onResetData()"><i class="icofont-login"></i>雇用者</a>
         <a class="sign-up-btn" style="cursor: pointer" (click)="logout()" *ngIf="isLogin$ | async"><i class="icofont-logout"></i>ログアウト</a>
     </div>
</div>
