<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-text">
                    <h2>ログイン</h2>
                    <ul>
                        <li><a routerLink="/">家</a></li>
                        <li><i class="icofont-simple-right"></i></li>
                        <li>ログイン</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="login-area pt-100">
    <div class="container">
        <h2>アカウントにログイン</h2>

<!--        <div class="login-wrap">-->
<!--            <div class="row">-->
<!--                <div class="col-sm-6 col-lg-6">-->
<!--                    <div class="jobseeker-item">-->
<!--                        <div class="jobseeker-icon">-->
<!--                            <i class="flaticon-job-search"></i>-->
<!--                        </div>-->
<!--                        -->
<!--                        <div class="jobseeker-inner">-->
<!--                            <span>Candidate</span>-->
<!--                            <h3>Login as a Candidate</h3>-->
<!--                        </div>-->

<!--                        <a routerLink="/login">Get Started<i class="icofont-arrow-right"></i></a>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="col-sm-6 col-lg-6">-->
<!--                    <div class="jobseeker-item">-->
<!--                        <div class="jobseeker-icon">-->
<!--                            <i class="flaticon-recruitment"></i>-->
<!--                        </div>-->

<!--                        <div class="jobseeker-inner">-->
<!--                            <span>Employer</span>-->
<!--                            <h3>Login as a Employer</h3>-->
<!--                        </div>-->

<!--                        <a routerLink="/login">Get Started<i class="icofont-arrow-right"></i></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

        <form [formGroup]="form">
            <div class="form-group">
                <input type="text"
                       class="form-control"
                       formControlName="email"
                       placeholder="電子メイル"
                       [class]="isFormInValid('email') ? 'input-error' : ''">
                <div *ngIf="isFormInValid('email')" class="error-text">
                    正しい形式で入力してください: abc@xyz.jp
                </div>
            </div>

            <div class="form-group">
                <input type="password"
                       class="form-control"
                       formControlName="password"
                       placeholder="パスワード"
                       [class]="isFormInValid('password') ? 'input-error' : ''">
                <div *ngIf="isFormInValid('password')" class="error-text">
                    正しい形式を入力してください:
                    <br>
                    - 少なくとも 1 つの大文字または小文字を含めます。
                    <br>
                    - 6文字から30文字まで。
                </div>
            </div>
        </form>

        <div class="login-sign-in">
<!--            <a routerLink="/">Forgot Password?</a>-->

<!--            <ul>-->
<!--                <li>アカウントを持っていませんか?</li>-->
<!--                <li><a routerLink="/create-account">サインアップはこちら</a></li>-->
<!--            </ul>-->

            <div class="text-center">
                <button type="submit" class="btn login-btn" (click)="login()">ログイン</button>
            </div>
        </div>

<!--        <div class="login-social">-->
<!--            <a href="#"><i class="icofont-facebook"></i> Login With Facebook</a>-->
<!--            <a class="login-google" href="#"><i class="icofont-google-plus"></i> Login With Google</a>-->
<!--        </div>-->
    </div>
</div>
