<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-text">
                    <h2>仕事の詳細</h2>
                    <ul>
                        <li><a routerLink="/">家</a></li>
                        <li><i class="icofont-simple-right"></i></li>
                        <li>仕事の詳細</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="job-details-area pt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="job-details-item">
                    <h1>{{job?.Title}}</h1>

                    <div class="job-description mt-3 mb-3">
                        <h2>仕事内容</h2>
                        <p>{{job?.Description}}</p>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <section class="companies-area ptb-100">
                                <div class="container">
                                    <carousel [images]="images"
                                              [objectFit]="'cover'"
                                              [autoplay]="true"
                                              [dots]="true"
                                              [cellsToScroll]="3"
                                              [loop]="true">
                                    </carousel>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="create-information mt-3">
                        <form [formGroup]="form">
                            <h3>基本情報</h3>

                            <div class="create-information-btn">
                                <a (click)="browser()">履歴書をアップロードする</a>
                            </div>

                            <input #fileElement
                                   hidden
                                   type="file"
                                   [accept]="'.pdf, .docx, .png, .jpg, .jpeg'"
                                   class="form-control"
                                   style="padding-top: 11px;"
                                   (change)="uploadCV($event)">

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>あなたのフルネーム</label>
                                        <input formControlName="fullName" type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>あなたのメールアドレス</label>
                                        <input formControlName="email" type="email" class="form-control">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>あなたの電話</label>
                                        <input formControlName="phoneNumber" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button class="job-details-btn" [disabled]="form.invalid || files?.length === 0 || loading" (click)="apply()">今すぐ申し込む</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="job-details-item">
                    <div class="job-overview">
                        <h3>概要</h3>

                        <ul>
                            <li>
                                <i class="icofont-dollar"></i>
                                <p>提示された給与</p>
                                <span>{{job?.Salary}}</span>
                            </li>

                            <li>
                                <i class="icofont-users-alt-3"></i>
                                <p>量</p>
                                <span>{{job?.Number}}</span>
                            </li>

                            <li>
                                <i class="icofont-briefcase"></i>
                                <p>位置</p>
                                <span>{{job?.Position}}</span>
                            </li>

                            <li>
                                <i class="icofont-briefcase-2"></i>
                                <p>位置</p>
                                <span>{{job?.JobType}}</span>
                            </li>
                        </ul>
                    </div>

                    <div class="job-overview job-company">
                        <h3>住所</h3>

                        <ul>
                            <li>
                                <i class="icofont-location-pin"></i>
                                <span>{{job?.CompanyName}}</span>
                            </li>

                            <li>
                                <i class="icofont-location-pin"></i>
                                <span>{{job?.Location}}</span>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
