.file-name {
    min-width: 16rem;
    margin-top:10px;
    max-width: 100%;
}

@media only screen and (max-width: 768px) {
    .file-name {
        min-width: 12rem;
        padding-left: 1rem;
    }
}

@media only screen and (max-width: 414px) {
    .file-name {
        min-width: 8rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .file-name {
        min-width: 16rem;
    }
}
