<div class="banner-area banner-img-one">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="banner-text">
                    <h1 *ngIf="!isJobList"><span>希望</span>の仕事を見つける</h1>
                    <p *ngIf="!isJobList">仕事、雇用、将来のキャリアの機会</p>
                    <div class="container" *ngIf="isJobList" style="margin-bottom: 5rem;">
                        <div class="page-title-text">
                            <h2>ジョブリスト</h2>
                            <ul>
                                <li><a routerLink="/">ホームページ</a></li>
                                <li><i class="icofont-simple-right"></i></li>
                                <li>ジョブリスト</li>
                            </ul>
                        </div>
                    </div>

                    <div class="banner-form-area">
                        <form>
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="form-group">
<!--                                        <label><i class="icofont-search-1" style="cursor: pointer" (click)="search()"></i></label>-->
                                        <input type="text" [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="どのような仕事を探していますか?">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <select [(ngModel)]="category" [ngModelOptions]="{standalone: true}" nice-select>
                                            <option *ngFor="let category of categories" value="{{category.Id}}">{{category.Name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn banner-form-btn" (click)="search()">検索</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
