<app-header (triggerSearch)="search($event)"></app-header>

<section class="job-area job-area-two pt-100">
    <div class="container">
        <div class="row" *ngIf="left > 0">
            <div class="col-12" style="display:flex; justify-content: center">
                <span class="btn-view-mores" (click)="viewMore()">もっと見る</span>
            </div>
        </div>
        <div class="row">
            <ng-container *ngFor="let job of jobs">
                <div class="col-lg-6 mix web ui">
                    <div class="job-item">
                        <img [src]="job?.firstPicture" alt="Job">

                        <div class="job-inner align-items-center">
                            <div class="job-inner-left">
                                <h3 class="over-flow" tooltip="{{job?.Title}}" placement="top">{{job?.Title}}</h3>
                                <a routerLink="/">{{job?.CompanyName}}</a>
                                <ul>
                                    <li><i class="icofont-money-bag">{{job?.Salary}}</i></li>
                                    <li><i class="icofont-location-pin"></i>{{job?.Location}}</li>
                                </ul>
                            </div>

                            <div class="job-inner-right">
                                <ul>
                                    <li><a (click)="goToJobDetail(job)">申し込み</a></li>
                                    <li><span>{{job?.JobType}}</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>

    </div>
</section>
