<footer>
    <div class="container mt-5">
        <div class="subscribe-area">
            <div class="section-title">
                <h2 style="margin-bottom: 17px;">あなたの仕事の夢をどこにでも適用してください</h2>
                <a>「Betosapoでは、夢の仕事に応募することが簡単になっています。効率的なプロセスでストレスフリーな体験を提供し、成功の可能性を最大限に引き出します。」</a>
            </div>

            <div class="subscribe-shape">
                <img src="assets/img/shape/1.png" alt="Shape">
                <img src="assets/img/shape/1.png" alt="Shape">
                <img src="assets/img/shape/1.png" alt="Shape">
                <img src="assets/img/shape/1.png" alt="Shape">
                <img src="assets/img/shape/2.png" alt="Shape">
            </div>

<!--            <div class="subscribe-item">-->
<!--                <form class="newsletter-form">-->
<!--                    <input type="email" class="form-control" placeholder="Enter Your Email" name="EMAIL" required autocomplete="off">-->
<!--                    <button class="btn subscribe-btn" type="submit">Subscribe</button>-->
<!--                </form>-->
<!--            </div>-->
        </div>

        <div class="row">
            <div class="col-sm-12 col-lg-4">
                <div class="footer-item">
                    <div class="footer-logo">
                        <a routerLink="/"><img src="assets/img/logo-two.png" alt="Logo"></a>
                        <p>あなたの仕事の夢をどこにでも適用してください</p>
<!--                        <ul>-->
<!--                            <li><a href="#" target="_blank"><i class="icofont-youtube-play"></i></a></li>-->
<!--                            <li><a href="#" target="_blank"><i class="icofont-facebook"></i></a></li>-->
<!--                            <li><a href="#" target="_blank"><i class="icofont-instagram"></i></a></li>-->
<!--                            <li><a href="#" target="_blank"><i class="icofont-twitter"></i></a></li>-->
<!--                        </ul>-->
                    </div>
                </div>
            </div>

<!--            <div class="col-sm-6 col-lg-3">-->
<!--                <div class="footer-item">-->
<!--                    <div class="footer-category">-->
<!--                        <h3>カテゴリー</h3>-->

<!--                        <ul>-->
<!--                            <li><a routerLink="/"><i class="icofont-simple-right"></i> Development</a></li>-->
<!--                            <li><a routerLink="/"><i class="icofont-simple-right"></i> Business</a></li>-->
<!--                            <li><a routerLink="/"><i class="icofont-simple-right"></i> Tech & IT</a></li>-->
<!--                            <li><a routerLink="/"><i class="icofont-simple-right"></i> Finance</a></li>-->
<!--                            <li><a routerLink="/"><i class="icofont-simple-right"></i> Networking</a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

            <div class="col-sm-12 col-lg-4">
                <div class="footer-item">
                    <div class="footer-category">
                        <h3>クイックリンク</h3>

                        <ul>
                            <li><a routerLink="/"><i class="icofont-simple-right"></i>ホームページ</a></li>
<!--                            <li><a routerLink="/about"><i class="icofont-simple-right"></i> About Us</a></li>-->
<!--                            <li><a routerLink="/blog"><i class="icofont-simple-right"></i> Blogs</a></li>-->
<!--                            <li><a routerLink="/company-list"><i class="icofont-simple-right"></i> Companies</a></li>-->
                            <li><a routerLink="/job-list"><i class="icofont-simple-right"></i>ジョブリスト</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-lg-4">
                <div class="footer-item">
                    <div class="footer-find">
                        <h3>私たちを探す</h3>

                        <ul>
                            <li><i class="icofont-location-pin"></i>2F IRIS Building 3-15-16 Niíhikasai, Edogawa, Tokyo.</li>
<!--                            <li><i class="icofont-ui-call"></i> <a href="tel:+880123456789">+88 0123 456 789</a></li>-->
                            <li><i class="icofont-email"></i> <a>aoyama23118@gmail.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="copyright-area">
            <div class="row">
                <div class="col-lg-6">
                    <div class="copyright-item">
                        <p>「Betosapoによって作成されたウェブサイトです。」</p>
                    </div>
                </div>

<!--                <div class="col-lg-6">-->
<!--                    <div class="copyright-item copyright-right">-->
<!--                        <ul>-->
<!--                            <li><a target="_blank">利用規約</a></li>-->
<!--                            <li><span>-</span></li>-->
<!--                            <li><a target="_blank">プライバシーポリシー</a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
    </div>
</footer>
